
.contact {
    &-wrapper {
        padding: 5vw;
        background: #eee url(/img/contact_bg.jpg) center;
        background-size: cover;
        background-position: 50% 0;
    }

    .page-summary h1 {
        color: #fff;
    }

    .form {
        width: 800px;
        margin: 0 auto;
        max-width: 100%;
    }
}
