
.footer {
    align-items: center;
    background: #95acba;
    display: flex;
    justify-content: flex-end;
    padding: 5vw;

    &__logo {
        max-height: 48px;
        height: 5vw;
        opacity: .64;
    }
}
