
.footer {
    align-items: center;
    background: #95acba;
    display: flex;
    justify-content: flex-end;
    max-height: 128px;
    padding: 10vw;

    &__logo {
        height: 5vw;
        opacity: .64;
    }
}
