.hero {
    align-items: center;
    background: $brand-color url(/img/hero_bg.jpg) center;
    background-size: cover;
    background-position: 50% 0;
    color: #fff;
    font: $secondary-font;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    text-align: center;

    &__nav {
        display: flex;

        &__item {
            font-family: $base-font-family;
            font-weight: $base-font-weight;
            font-size: 90%;
        }

        @media all and (max-width: 900px) {
            opacity: 0;
            height: 0;
            pointer-events: none;
        }

        &__item {
            color: #fff !important;
            display: block;
            margin: 0 2em;
            text-transform: uppercase;
            letter-spacing: 1px;
        }
    }

    p {
        margin: 0 auto;
        max-width: $on-palm;
    }

    &__roll-down {
        align-items: center;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        text-transform: uppercase;
        transition: transform 150ms;
        will-change: transform;
        
        span {
            color: #fff;
            font-size: 85%;
            letter-spacing: 1px;
        }

        &:hover {
            text-decoration: none !important;
            transform: scale(1.1);
        }
    }
}

.logo {
    margin-bottom: 2em;
    padding: 0 5vw;

    img {
        max-height: 64px;
        margin: 0 auto;
    }

    &__sub {
        color: rgba(255, 255, 255, .56);
        letter-spacing: 1px;
        margin-bottom: 2em;
    }
}
