
$reference-page-color: rgba(255, 255, 255, .9);

.references-wrapper {
    padding: 5vw;
    background: #eee url(/img/reference_bg.jpg) center;
    background-size: cover;
    background-position: 50% 0;
    color: $reference-page-color;
}

.references {
    .page-summary h1 {
        color: $reference-page-color;
    }

    .list {
        &__title {
            color: $reference-page-color;
        }
    }
}
