
<div class="contact-wrapper">
    <section class="contact page" id="ota-yhteytta">
        <div class="page-summary">
            <h1>Lähetä tarjouspyyntö tai jätä yhteydenottopyyntö</h1>
        </div>

        <form action="https://formspree.io/toimisto@priimailma.fi" method="POST" class="form">
            <input type="text" name="_gotcha" style="display:none">

            <div class="form__item">
                <input class="form__input" type="text" name="Etunimi" placeholder="Etunimi">
            </div>

            <div class="form__item">
                <input class="form__input" type="text" name="Sukunimi" placeholder="Sukunimi">
            </div>

            <div class="form__item">
                <input class="form__input" type="email" name="Sähköpostiosoite" placeholder="Sähköpostiosoite">
            </div>

            <div class="form__item">
                <input class="form__input" type="text" name="Aihe" placeholder="Aihe">
            </div>

            <div class="form__item form__item--full">
                <textarea class="form__input form__input--textarea" name="Viesti" placeholder="Viestisi"></textarea>
            </div>

            <div class="form__item form__item--center">
                <button class="form__button" type="submit">Lähetä</button>
            </div>
        </form>
    </section>
</div>
