
<section class="hero parallax" id="etusivu">
    <nav class="hero__nav">
        <a data-scroll class="hero__nav__item" href="#etusivu">Etusivu</a>
        <a data-scroll class="hero__nav__item" href="#palvelut">Palvelut</a>
        <a data-scroll class="hero__nav__item" href="#referaatti">Referaatti</a>
        <a data-scroll class="hero__nav__item" href="#hinnasto">Hinnasto</a>
        <a data-scroll class="hero__nav__item" href="#ota-yhteytta">Ota yhteyttä</a>
    </nav>

    <div>
        <div class="logo">
            <img src="/img/logo_white.png" alt="Priimailma Oy logo">
        </div>

        <h3 class="logo__sub">Puhdasta sisäilmaa</h3>

        <p>Laadukkaita IV-tekniikan puhdistuksia ja asennuksia Pohjois-Savon alueella</p>
    </div>

    <a data-scroll href="#palvelut" class="hero__roll-down">
        {% include keyboard_arrow_down.svg %}
        <span>Rullaa alas</span>
    </a>
</section>
