
<section class="page prices" id="hinnasto">
    <div class="page-summary">
        <h1>Hinnat alkaen kaikkiin palveluihimme</h1>
    </div>

    <ul class="list">
        <li class="list__item">
            <h4 class="list__title">Ilmanvaihdon puhdistus</h4>
            <a class="list__button">40 &euro;/tunti</a>
            <p class="list__subtitle">Sisältää kuitukartoituksen</p>
        </li>

        <li class="list__item">
            <h4 class="list__title">Omakotitalojen ilmanvaihto</h4>
            <a class="list__button">500 &euro;</a>
        </li>

        <li class="list__item">
            <h4 class="list__title">Kuitukartoitus</h4>
            <a class="list__button">150 &euro;</a>
        </li>
    </ul>

    <footer class="list__footer">
        Hinnat ovat alkaen hintoja eivätkä sisällä alvia. Kaikki hinnat aina sopimuksen mukaan.
    </footer>
</section>
