
<div class="references-wrapper parallax">
    <section class="references page" id="referaatti">
        <div class="page-summary">
            <h1>Taattua laatua, kysy vaikka muilta<br> tyytyväisiltä asiakkailtamme</h1>

            <p>Ilmastointipalvelu Koponen laittaa ilmastonvaihtosi ja ilmastointilaitteesi kuntoon. Toimimme Siilinjärvellä ja toiminta-aluettamme on koko Pohjois-Savo. Tutustu alan referensseihimme täältä.</p>
        </div>

        <ul class="references list list--fours-row">
            <li class="list__item">
                <h4 class="list__title">Kiinteistö-KYS</h4>
                <p class="list__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati unde deleniti architecto!</p>
            </li>

            <li class="list__item">
                <h4 class="list__title">SOL-Pesula Kuopio</h4>
                <p class="list__description">Maxime voluptatibus aliquid quia autem ducimus amet laboriosam aliquam aperiam, voluptatem accusamus.</p>
            </li>

            <li class="list__item">
                <h4 class="list__title">Iisalmen kaupungintalot</h4>
                <p class="list__description">Enim eveniet pariatur perspiciatis, modi laborum incidunt, aut vitae impedit non!</p>
            </li>

            <li class="list__item">
                <h4 class="list__title">Kiinteistöyhtiöt</h4>
                <p class="list__description">Nulla cum omnis? Nulla vel, facere suscipit, vitae consequatur totam eos.</p>
            </li>

            <li class="list__item">
                <h4 class="list__title">Isännöitsijätoimistot</h4>
            </li>

            <li class="list__item">
                <h4 class="list__title">Omakotiasujat</h4>
            </li>

            <li class="list__item">
                <h4 class="list__title">Kiuruveden terveyskeskus</h4>
            </li>

            <li class="list__item">
                <h4 class="list__title">Lounaskahvila Vanha Valio</h4>
            </li>
        </ul>
    </section>
</div>
