
<section class="page" id="palvelut">
    <div class="page-summary">
        <h1>Ilmanvaihto kuntoon <br>Pohjois-Savon seudulla</h1>

        <p>Ilmastointipalvelu Koponen laittaa ilmastonvaihtosi ja ilmastointilaitteesi kuntoon. Toimimme Siilinjärvellä ja toiminta-aluettamme on koko Pohjois-Savo. Tutustu alan referensseihimme täältä.</p>
    </div>

    <ul class="list">
        <li class="list__item">
            <h4 class="list__title">Kanavien puhdistukset <br>ja desinfioinnit</h4>
            <a class="list__button" href="/palvelut/kanavien-puhdistukset-ja-desinfioinnit">Lue lisää</a>
        </li>

        <li class="list__item">
            <h4 class="list__title">Ilmamäärien mittaus <br>ja säätö</h4>
        </li>

        <li class="list__item">
            <h4 class="list__title">Väestönsuojien tarkastukset <br>sekä tiiviyskokeet</h4>
            <a class="list__button" href="/palvelut/vaestosuojien-tarkastukset-seka-tiiviyskokeet">Lue lisää</a>
        </li>

        <li class="list__item">
            <h4 class="list__title">Keskuslämmityskattiloiden <br>puhdistukset</h4>
        </li>

        <li class="list__item">
            <h4 class="list__title">Kanavistokuvaukset</h4>
        </li>

        <li class="list__item">
            <h4 class="list__title">Äänitasomittaus</h4>
        </li>

        <li class="list__item">
            <h4 class="list__title">Sisäpiippujen asennus</h4>
        </li>

        <li class="list__item">
            <h4 class="list__title">Laite- ja <br>suodatinhuollot</h4>
        </li>
    </ul>
</section>
