
<section class="services" id="palvelut">
    <div class="services-summary">
        <h1>Ilmanvaihto kuntoon <br>Pohjois-Savon seudulla</h1>

        <p>Ilmastointipalvelu Koponen laittaa ilmastonvaihtosi ja ilmastointilaitteesi kuntoon. Toimimme Siilinjärvellä ja toiminta-aluettamme on koko Pohjois-Savo. Tutustu alan referensseihimme täältä.</p>
    </div>

    <ul class="service-list">
        <li class="service-list__item">
            <h4 class="service-list__title">Kanavien puhdistukset <br>ja desinfioinnit</h4>
            <a class="service-list__button" href="#">Lue lisää</a>
        </li>

        <li class="service-list__item">
            <h4 class="service-list__title">Ilmamäärien mittaus <br>ja säätö</h4>
        </li>

        <li class="service-list__item">
            <h4 class="service-list__title">Väestönsuojien tarkastukset <br>sekä tiiviyskokeet</h4>
            <a class="service-list__button" href="#">Lue lisää</a>
        </li>

        <li class="service-list__item">
            <h4 class="service-list__title">Keskuslämmityskattiloiden <br>puhdistukset</h4>
        </li>

        <li class="service-list__item">
            <h4 class="service-list__title">Kanavistokuvaukset</h4>
        </li>

        <li class="service-list__item">
            <h4 class="service-list__title">Äänitasomittaus</h4>
        </li>

        <li class="service-list__item">
            <h4 class="service-list__title">Sisäpiippujen asennus</h4>
        </li>

        <li class="service-list__item">
            <h4 class="service-list__title">Laite- ja <br>suodatinhuollot</h4>
        </li>
    </ul>
</section>
