
<section class="page" id="palvelut">
    <div class="page-summary">
        <h1>Täyden talon IV-palvelut</h1>

        <p>Panostamme työssämme laatuun ja otamme huomioon työskentely-ympäristömme. Pysymme sovitussa aikataulussa.</p>
    </div>

    <ul class="list">
        <li class="list__item">
            <h4 class="list__title">Ilmanvaihdonpuhdistus</h4>
            <a class="list__button" href="/palvelut/iv-puhdistus-ja-asennus">Lue lisää</a>
        </li>

        <li class="list__item">
            <h4 class="list__title">Käyttöönottopuhdistukset</h4>
        </li>

        <li class="list__item">
            <h4 class="list__title">Mittaus- ja säätötyöt</h4>
        </li>

        <li class="list__item">
            <h4 class="list__title">Vähittäismyynti</h4>
        </li>

        <li class="list__item">
            <h4 class="list__title">IV-asennukset mm. kanavat, päätelaitteet</h4>
            <a class="list__button" href="/palvelut/iv-puhdistus-ja-asennus">Lue lisää</a>
        </li>

        <li class="list__item">
            <h4 class="list__title">Kuitukartoitukset</h4>
            <a class="list__button" href="/palvelut/kuitukartoitukset">Lue lisää</a>
        </li>
    </ul>
</section>
