---
layout: default
---

{% include components/menu.html %}

<section class="page small-hero iv">
    <h1>Ilmanvaihdonpuhdistus ja -asennuspalvelut</h1>

    <hr class="divider">

    <ul class="list">
        <li class="list__item">
            <h4 class="list__title">Käyttöönotto- ja peruspuhdistukset</h4>
        </li>

        <li class="list__item">
            <h4 class="list__title">Asennukset</h4>
        </li>

        <li class="list__item">
            <h4 class="list__title">Mittaukset ja säädöt</h4>
        </li>
    </ul>
</section>

<section class="note page iv iv--cleaning">
    <h2>Puhdistukset</h2>
    <p>Puhdistamme ilmanvaihtokanavat huolellisesti koneilla ja alipaineistamalla kanavien tuloilman. Tarvittaessa päätelaitteet pestään puhtaaksi. Lopuksi varmistamme vielä palopeltien toimivuuden ja mittaamme ilmamäärän järjestelmässä.</p>
</section>

<section class="page page--of-two kuitu-texts">
    <article>
        <h2>Käyttöönottopuhdistus</h2>
        <p>Asennustöiden jälkeen ilmastointikanaviin jää hieman likaa, joka pyritään puhdistamaan ennen käyttöönottoa.</p>
    </article>

    <article>
        <h2>Kuitukartoitus</h2>
        <p>Vanhoissa IV-ratkaisuista voi irrota ilmaan kuituja, jonka vuoksi ilmanlaatu kärsii. Kartoitamme ja korjaamme ongelmakohdat yhdessä ilmanvaihdonpuhdistuksen yhteydessä.</p>
        
        <a class="list__button" href="/palvelut/kuitukartoitukset">Lue lisää</a>
    </article>
</section>

<hr class="divider divider--line">

<section class="page kuitu-texts iv-when">
    <h2>Milloin kanavat tulisi puhdistaa?</h2>
    <p>Ilmanvaihtokanavat tyypillisesti puhdistetaan 5-10 vuoden välein riippuen halutusta ilmanlaadusta.</p>
    <p>Julkisten kiinteistöjen rasvakanavat (keittiöiden kanavat) puhdistetaan vähintään kerran vuodessa. Tämä on pakollinen ja laissa määrätty paloturvallisuuden vuoksi.</p>
</section>

<section class="note page page--of-two iv iv--install">
    <article>
        <h2>IV-asennukset</h2>
        <p>Hoidamme kanava-asennukset, IV-kojeet, poistoventtiilit sekä päätelaitteet.</p>
    </article>

    <article>
        <h2>IV-mittaus ja säätö</h2>
        <p>Kaikissa huoneissa on tietty ilmamäärä, joka pitää mitata ja säätää kohdalleen. Mittaus ja säätötyöt suoritetaan aina lopuksi - oli kyseessä sitten puhdistus- tai asennusprojekti.</p>
    </article>
</section>

<section class="page kuitu-texts">
    <h2>Työraportti</h2>
    <p class="iv-report-text">IV-puhdistuksesta, kuitukartoituksesta ja käyttöönottopuhdistuksesta teemme erillisen raportin valokuvien kera.</p>

    <hr class="divider">

    <div class="page--of-two iv-prices-and-services">
        <article>
            <h2>Hinnat</h2>
            <h4 class="list__title">Alkaen 40 &euro;/h</h4>
            <p>Kuitukartoitus sisältyy puhdistustyöhön</p>

            <a class="list__button" href="/demo#hinnasto">Lue lisää</a>
        </article>

        <article>
            <h2>Palvelemme kaikkialla</h2>

            <h4 class="list__title">Omakotitalot</h4>
            <h4 class="list__title">Kerrostalot</h4>
            <h4 class="list__title">Liikehuoneistot ja -keskukset</h4>
        </article>
    </div>

    <hr class="divider">

    <h2>Puhtausluokat</h2>

    <p>Kykenemme puhdistamaan ilmanvaihtojärjestelmiä P1 ja P2 puhtausluokissa.</p>

    <ul class="list p-list">
        <li class="list__item">
            <h4 class="list__title">
                P1 = ilmassa saa olla likaa vain 1 g/m<sup>2</sup>
            </h4>
        </li>
        
        <li class="list__item">
            <h4 class="list__title">
                P2 = ilmassa saa olla likaa vain 2,5 g/m<sup>2</sup>
            </h4>
        </li>
    </ul>
</section>

{% include components/footer.html %}
