---
layout: default
---

{% include components/menu.html %}

<section class="page small-hero">
    <h1>Kuitukartoitukset</h1>
    <p>Kiinteistöissä on yhä vanhaa IV-tekniikkaa, joiden materiaalit eivät täytä nykyaikaista ilmanvaihdon laatua. Näistä materiaaleista irtoaa huoneilmaan kuituja, yleensä villaa, jonka takia sisäilman laatu kärsii.</p>

    <hr class="divider">

    <h2>Huoneilman laadun tärkeys</h2>
    <p>Mineraalivillakuidut sisäilmassa aiheuttaa yleensä ärsytysoireita silmissä, iholla ja limakalvoilla. Lisätietoa hiukkasmaisista epäpuhtauksista ja niiden vaikutuksista Valviran, Hengitysliiton ja Sisäilmayhdistyksen kotisivuilla.</p>
</section>

<section class="note page free-note">
    <h2>Ilmainen kuitukartoitus ilmanvaihdonpuhdistuksen kanssa</h2>
    <a href="#palvelut" class="note__button">Lisää palveluitamme</a>
</section>

<section class="page page--of-two kuitu-texts">
    <article>
        <h2>Kartoitus</h2>
        <p>Kuidut huoneilmassa ovat yleensä peräisin rikkoontuneista tai suojaamattomista eristysvilloista ilmanvaihdon äänenvaimentimissa, päätelaitteissa ja kammioissa.</p>
        <p>Kartoitamme mistä ongelmakohtia voi löytyä ja lopputuloksena saatte raportin työstä valokuvien kera kuten IV-puhdistuksesta ja käyttöönottopuhdistuksestakin.</p>
    </article>

    <article>
        <h2>Mittaus ja laaduntarkastus</h2>
        <p>Käytössämme on BM-Dustdetector pintapölymittari, jota voimme käyttää puhdistuksen jälkeen tarkistamaan haluttu lopputulos. Laite kykenee mittaamaan myös vaativamman P1 puhtausluokan mukaisesti. P1 tasoluokka edellyttää mm., ettei pinnoilla saa olla näkyvää likaa tai ilmaan nousevaa irtolikaa ja tilat tulee olla niin puhtaita, että ne voidaan ottaa käyttöön välittömästi.</p>
    </article>
</section>

<section class="note page price-note">
    <h2>Hinta alkaen <span class="no-break">150 €</span></h2>
</section>

{% include components/footer.html %}
