
<footer class="footer">
    <div class="footer__contacts">
        <div>
            <span>PRIIMAILMA OY</span>
            <span>2880156-3</span>
        </div>

        <div>
            <span>Sirkkusentie 20</span>
            <span>70340 KUOPIO</span>
        </div>

        <div>
            <span>Juha Launonen</span>
            <span>juha@priimailma.fi</span>
            <span>040 670 9173</span>
        </div>

        <div>
            <span>Markus Hakkarainen</span>
            <span>markus@priimailma.fi</span>
            <span>040 683 4943</span>
        </div>
    </div>

    <img class="footer__logo" src="/img/logo_white.png" alt="Priimailma Oy logo">
</footer>
