
<footer class="footer">
    <div class="footer__contacts">
        <div>
            <span>PRIIMAILMA OY</span>
            <span>2880156-3</span>
        </div>

        <div>
            <span>Juha Launonen</span>
            <span>juha@priimailma.fi</span>
            <span>040 670 9173</span>
            <span>Sirkkusentie 20</span>
            <span>70340 Kuopio</span>
        </div>

        <div>
            <span>Verkkolaskuosoite:</span>
            <span>003728801563</span>
            <span>Operaattoritunnus:</span>
            <span>003723327487</span>
        </div>
    </div>

    <a class="footer__link" href="https://www.tilaajavastuu.fi/fi/pikatarkistus/?yt=2880156-3">
        <img src="/img/luotettava_kumppani.jpg" alt="LuotettavaKumppaniyritys PRIIMAILMA OY" />
    </a>

    <img class="footer__logo" src="/img/logo_white.png" alt="Priimailma Oy logo">
</footer>
